[flake8]
max-line-length = 120
exclude =
    migrations,
    __pycache__,
    .git,
    node_modules,
    env,
    venv

ignore =
    E501,
    W191,
    E101,
    E231,
    E275,
    E722,
    F401,
    F811,
    F841,
    W292,
    W293,
    E302,
    E303
