img{
  width: 60%;
  align-self: center;
}

.card{
  border: rgb(103, 102, 105) 3px solid;
  display: flex;  
  flex-direction: column;
  margin-left:5%;
  margin-right:5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row{
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding:20px;
}

.container{
  justify-content: center;
}
.details{
  font-size: 20px;
  color: rgb(97, 64, 128);
  padding:20px;
}

.title{
  font-size: 20px;
  background-color: rgb(97, 64, 128);
  color: white;
  text-align: center;
  margin:20px;
  padding:5px;
}

.homepage_links{
  color:  rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
  }

.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align:center;
  box-shadow: 2px 2px 2px 3px #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top:3%;
  background-color: black;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: black;
  align-self: center;
}

.username{
  font: 30px sans-serif;
  color:black;
  justify-content: 'flex-end';
  align-self:flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content:flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header{
  font: 30px sans-serif;
  color:black;
  margin: .5cm;
}

.img_icon {
  align-self: center;
    width:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}

/* ===== Pretty Contact Page Styling ===== */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4%;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-title {
  font-size: 32px;
  background-color: rgb(97, 64, 128);
  color: white;
  padding: 12px 30px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.contact-subtitle {
  font-size: 18px;
  color: #444;
  margin-bottom: 30px;
  text-align: center;
  max-width: 600px;
}

.contact-card {
  border: rgb(103, 102, 105) 3px solid;
  border-radius: 12px;
  padding: 35px;
  width: 65%;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contact-label {
  font-size: 18px;
  font-weight: bold;
  color: rgb(97, 64, 128);
  min-width: 160px;
}

.contact-value {
  font-size: 18px;
  color: #222;
  text-align: right;
}

/* Active nav link */
.nav_item.active {
  font-weight: bold;
  border-bottom: 3px solid rgb(97, 64, 128);
}